.vs/学习csharp编程 高级篇/v15/Server/sqlite3/storage.ide-wal
.vs/学习csharp编程 高级篇/v15/Server/sqlite3/db.lock
.vs/学习csharp编程 高级篇/v15/Server/sqlite3/storage.ide
.vs/学习csharp编程 高级篇/v15/Server/sqlite3/storage.ide-shm
